<f:layout name="Default" />

<f:section name="Title">Index view of Setup controller</f:section>

<f:section name="Content">
	<h1>A freshly created Fluid template!</h1>
	<p>Some data set by the controller:</p>
	<ul>
		
		<f:for each="{foos}" as="foo">
			<li>{foo}</li>
		</f:for>
		
	</ul>
</f:section>