<f:layout name="Default" />

<f:section name="Title">A list of pastes</f:section>

<f:section name="Content">
	<f:if condition="{pastes}">
		<f:then>
			<ul>
				<f:for each="{pastes}" as="paste">
					<li>
						<f:link.action action="show" arguments="{paste: paste}">{paste.name}</f:link.action>
						<f:link.action action="edit" arguments="{paste: paste}">Edit</f:link.action>
						<f:form action="delete" arguments="{paste: paste}">
							<f:form.submit value="Delete" />
						</f:form>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No pastes created yet.</p>
		</f:else>
	</f:if>
	<p><f:link.action action="new">Create a new paste</f:link.action></p>
</f:section>