<f:layout name="Default" />

<f:section name="Title">New paste</f:section>

<f:section name="Content">
	<p>Just fill out the following form to create a new paste:</p>

	<f:form action="create" objectName="newPaste">
		<ol>
			<li>
				<label for="name">Paste</label>
				<f:form.textfield property="name" id="name" />
			</li>
		
			<li>
				<f:form.submit value="Create" />
			</li>
		</ol>
	</f:form>
</f:section>