<f:layout name="Default" />

<f:section name="Title">Show paste"{paste.name}"</f:section>

<f:section name="Content">
	<table>
		<tr>
			<th>Name</th>
			<td>{paste.name}</td>
		</tr>
	</table>
	<f:link.action action="index">Back</f:link.action>
</f:section>